@{
    ViewBag.Title = "O mojej stronie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Strona ma byc strona ksiegarni. <br>
    Mozna objrzec tabelke z: <br>
     - lista dostepnych ksiazek <br>
     - lista klientow <br>
     - spisem wypozyczen (kto co wypozyczyl) <br>
    Mozna tez zaobaczyc u kazdego klienta liste wypozyczonych ksiazek <br>
    Mozna wypozyczyc ksiazke<br>
    <b> Nie kazdy wszystko moze </b>
</p>
