@{
    ViewBag.Title = "Tytul strony kontaktowej";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  Moja Firma Inc. <br>
  KrotkaBoczna, Miejscowosc, 84-202 <br>
  <abbr title="Phone"> Tel: </abbr> 822-700-100
</adress>

<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->